<ul>
  <% Link.sorted_links.each do |link| %>
    <li>
      <%= link_to image_tag("like-button.jpg", :alt => "like button"), link_votes_path(link), :data => {:method => "post"} %> |
      <%= "#{link.tally} upvotes"%> |
      <%= link_to "#{link.headline}", link.website %> |
      <%= link_to "Comments", link_path(link) %> |
      <%= link_to "Edit", edit_link_path(link) %> |
      <%= link_to "Delete", link_path(link),
                  :data => {:confirm => "Are you sure?",
                            :method => "delete"} %>
    </li>
  <% end %>
</ul>

<%= link_to "Share a New Link", new_link_path, :class => 'btn btn-default' %>
