<h1>Travel News</h1>

<ul>
  <% @links.each do |link| %>
    <li>
      <%= link_to "#{link.headline}", link.website %>
      <%= link_to "Comments", link_path(link) %>
      <%= link_to "Edit", edit_link_path(link) %>
      <%= link_to "Delete", link_path(link),
                  :data => {:confirm => "Are you sure?",
                            :method => "delete"} %></p>
    </li>
  <% end %>
</ul>

<%= link_to "Share a New Link", new_link_path %>
