<h1><%= link_to "#{@link.headline}", @link.website %></h1>

<h2>Comments:</h2>
<div class="comments">
  <ul>
  <% @link.comments.each do |comment| %>
    <li>
      <%= comment.opinion + " submitted by " + @user.email %> |
      <%= link_to "Edit", edit_link_comment_path(comment) %> |
      <%= link_to "Delete", link_comment_path(comment),
                  :data => {:confirm => "Are you sure?",
                            :method => "delete"} %>
    </li>
  <% end %>
  </ul>
</div>

<%= render('comments/form') %>

<%= link_to "Home Page", links_path, :class => "btn btn-default" %>


