<h1><%= link_to "#{@link.headline}", @link.website %></h1>

<h2>Comments:</h2>
<div class="comments">
  <ul>
  <% @link.comments.each do |comment| %>
    <li>
      <%= comment.opinion %>
      <%= link_to "reply", link_comments_path(comment), :class => 'btn btn-primary btn-xs' %>
    </li>
  <% end %>
  </ul>
</div>

<%= render('comments/form') %>

<%= link_to "Home Page", links_path, :class => "btn btn-default" %>


